.box-for-photos {
    margin-left: 32%;
}
img {
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
}
.text {
    width: 90%;
    margin: 5%;
}
.box-photos {
    margin-top: 5%;
    width: 50%;
    background-color: white;
    border: 1px solid black;
}